.app {
  display: flex;
  flex-direction: column;
}

.app__body {
  display: flex;
  justify-content: center;
}

.body__sidebar {
  background-color: #107D7E;
  padding: 10px;
  border-radius: 5px;
  margin: 30px 30px 0 0;
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-around;
  height: 220px;
}

.body__feed {
  width: 45%;
  max-width: 600px;
}

.body__right {
  margin: 30px 0 0 30px;
  background-color: #107D7E;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-around;
  height: 100%;
}
