* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

body {
  margin: 0;
  background-color: #E0DFD5;
}

.inactive {
  color: #fff;
  text-decoration: none;
}

.active {
  color: #f0f7f4;
  text-decoration: none;
  border-bottom: 5px solid #f0f7f4;
}
