.signup {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #107D7E;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.signup__logo > img {
  height: 400px;
  margin-right: 100px;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup__form--input {
  display: flex;
  align-items: center;
  background-color: #b3bfb8;
  padding: 10px;
  border-radius: 999px;
  width: 100%;
  margin-top: 15px;
}

.signup__form--input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.signup__form > button {
  margin-top: 15px;
}

.signup__form > .MuiButton-root {
  color: #f0f7f4;
}

.signup__navlink > button {
  margin-top: 15px;
}

.signup__navlink > .MuiButton-root {
  color: #f0f7f4;
}

.signup__navlink {
  text-decoration: none;
}
