.workout {
  display: flex;
  margin: 30px 10px 20px 10px;
  padding: 20px;
  justify-content: space-between;
  background-color: #107D7E;
  border-radius: 15px;
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.75);
}

.workout:hover {
  cursor: pointer;
}

.workout__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.workout__title > h2 {
  color: #f0f7f4;
}

.workout__title > h5 {
  color: #f0f7f4;
}

.workout__description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.workout__description > h4 {
  color: #f0f7f4;
}
