.sidebar__option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar__option > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #f0f7f4;
}

.sidebar__option > h4 {
  color: #f0f7f4;
  margin-left: 10px;
  font-weight: 700;
}

.sidebar__option:hover {
  background-color: #f0f7f4;
  border-radius: 5px;
}

.sidebar__option:hover > h4 {
  color: #7e8d85;
}

.sidebar__option:hover > .MuiSvgIcon-root {
  color: #7e8d85;
}
