.exerciseCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #107D7E;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.75);
}

.exerciseCard > img {
  border-radius: 7px;
  max-height: 300px;
  align-self: center;
  margin-bottom: 10px;
}

.exerciseCard > h2 {
  color: #f0f7f4;
}

.exerciseCard > h3 {
  color: #f0f7f4;
  margin-bottom: 10px;
}

.exerciseCard > h4 {
  color: #f0f7f4;
  font-weight: 400;
}

/* .videoPlayer {

} */

.react-player {
  max-width: 600px;
  margin-bottom: 10px;
  margin-top: 15px;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.75);
}
